.TablaDeLectura {
    height: max-content;
    width: min-content;
    background-color: white;
    box-shadow: 8px 0px 30px 0px #8B8B8B;
    padding: 0px;
    margin: 5px;
}

.FilasTotal {
    padding: 0;
    margin: 0px;
}

.FilasTotal .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    align-items: center;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
}

.boton {
    background-color: #36b04b;
    color: #dcdddf;
    border: none;
    border-radius: 15%;
    height: 45px;
    width: 45px;
    font-size: 10px;
    margin: 2px;
    box-shadow: 2px 0px 7px 0px #8B8B8B;
    transition: 0.2s ease;
}

.boton:hover {
    cursor: pointer;
    box-shadow: 2px 0px 7px 0px black;
}

.borrar{
    background-color: #b90e28;
}

.historial{
    background-color: #b95a11;
}

.add{
    background-color: #3badec;
    box-shadow: none;
}

.add:hover {
    cursor: pointer;
    box-shadow: 2px 0px 15px 0px black;
}

.TablaDeTitulo {
    height: max-content;
    width: min-content;
    background-color: #140941;
    box-shadow: 4px 0px 15px 0px #8B8B8B;
    padding: 5px;
    padding-inline: 0px;
    margin: 5px;
}

.TitleRow {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-size: 15px;
    align-items: center;
    justify-content: left;
    color: white;
    padding: 0px;
}

.smallerSize {
    width: 50px;
    padding: 7px;
}

.smallSize {
    width: 100px;
    padding: 7px;
}

.mediumSize {
    width: 140px;
    padding: 7px;
}

.largeSize {
    width: 180px;
    padding: 7px;
}

.largerSize {
    width: 280px;
    padding: 7px;
}

.icono {
    width: 60px;
    padding-bottom: 2px;
    display: grid;
    place-items: center;
}

.mediumIcono {
    width: 120px;
    padding: 2px;
    display: grid;
    place-items: center;
}


.largeIcono {
    width: 180px;
    padding: 2px;
    display: grid;
    place-items: center;
}